extends ./layout/index

block contenido
    main.container.mt-5     
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros imagen", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Mauris lorem purus, rutrum eget semper quis, mattis ac sapien. Donec quis cursus ipsum, in vulputate quam. Praesent eleifend euismod arcu, eget aliquam sapien interdum eu. Integer ut ultricies arcu, id ultrices purus. Ut quis laoreet magna, ut ultricies dui. Donec at posuere tortor. Donec eget lorem mi.

                p hac habitasse platea dictumst. Curabitur consequat libero non porttitor viverra. Vestibulum lacinia pellentesque urna ut tincidunt. Nunc eget sapien consequat, blandit neque sit amet, hendrerit velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit nisl sit amet metus fringilla, at vestibulum justo consequat. Donec elementum scelerisque mauris, quis tincidunt risus viverra nec. Nunc vel elementum eros.

                p et ante sed leo aliquet ultrices et et ligula. In vestibulum nunc ut augue volutpat interdum. Suspendisse urna augue, consequat id vestibulum ut, sodales id ipsum. Class aptent taciti sociosqu

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p et ante sed leo aliquet ultrices et et ligula. In vestibulum nunc ut augue volutpat interdum. Suspendisse urna augue, consequat id vestibulum ut, sodales id ipsum. Class aptent taciti sociosqu

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destino
                    p et ante sed leo aliquet ultrices et et ligula. In vestibulum nunc ut augue volutpat interdum. Suspendisse urna augue, consequat id vestibulum ut, sodales id ipsum. Class aptent taciti sociosqu

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p et ante sed leo aliquet ultrices et et ligula. In vestibulum nunc ut augue volutpat interdum. Suspendisse urna augue, consequat id vestibulum ut, sodales id ipsum. Class aptent taciti sociosqu